* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

html {
	font: 125%/1.3 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 100%;
}

body {
	width: 100%;
}

a.button {
	color: #000;
}

#container {
	width: 92%;
	margin: 1em auto;
}

#messages {
	margin-bottom: 1em;
}

#messages ul {
	margin: 0.5em 0;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: #007aff;
	color: #fff;
}

#messages ul.error { background-color: #ff2d55; }
#messages ul.success { background-color: #4cd964; }

#messages li {
	line-height: 1.1;
	list-style: none;
	margin-bottom: 0.4em;
}

#messages li a {
	color: #fff;
}

#add {
	display: none; /* this is toggled via javascript */
	width: 100%;
}

#add.show {
	display: block;
}

#add input[type="text"],
#add textarea {
	width: 100%;
	display: block;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#search,
#add {
	margin-bottom: 2em;
}

#search h1,
#add h1 {
	margin-bottom: 0.4em;
	font-size: 1.5em;
}

#search input,
#search select {
	vertical-align: middle;
	margin-right: 0.7em;
}

#add textarea {
	resize: vertical;
}

#search input[type="text"],
#add input[type="text"],
#add textarea {
	border: 1px solid #aaa;
	padding: 0.2em;
	margin-bottom: 0.4em;
}

#search input[type="text"]:focus,
#search select:focus,
#add input[type="text"]:focus,
#add textarea:focus {
	outline: 0;
	border-color: #007aff;
}

#search select {
	margin-bottom: 0.4em;
}

#entries dt a {
	color: #007aff;
	font-weight: bold;
	word-wrap: break-word;
}

#entries dd {
	margin-bottom: 2em;
}

#entries dd time {
	color: #888;
}

#entries dd .desc {
	word-wrap: break-word;
}

#entries dd .url {
	color: #4cd964;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#entries dd .tags {
	margin-top: 0.25em;
}

#entries dd .tags li {
	display: inline;
}

#entries dd .tags a {
	display: inline-block;
	margin-right: 0.3em;
	margin-bottom: 0.2em;
	font-size: 0.85em;
	color: #aaa;
	background: #e6e6e6;
	text-decoration: none;
	border: 0px solid #000;
	border-radius: 1.1em;
	padding: 0.1em 0.6em 0.15em;
}

#entries dd .tags a.active {
	background: #d4d4d4;
	color: #fff;
}

#entries dd .tags a:focus,
#entries dd .tags a:hover {
	background: #007aff;
	color: #fff;
}

@media only screen and (min-width: 42em) {
	html {
		font-size: 100%;
	}

	#container {
		width: 75%;
		max-width: 50em;
		margin: 5em auto;
	}

	#add {
		width: 65%;
		max-width: 28.5em;
	}

	#entries dd .tags a {
		margin-right: 0.6em;
	}
}

@media only screen and (min-width: 80em) {
	#container {
		width: 55%;
	}
}